/* Login Page */
.login-page {
  h1 {
    font-size: 3em;
    font-weight: 200;
  }

  .login-box{
  }

  .brand-image {
    margin-bottom:  20px;
    img {
      width: 100%;
    }
  }

  .login-logo{
    margin: 10px 0 30px 0;
    display: block;
  }

  .form-control {
    background-color: #F5F5F5;
    font-size: 16px;
    padding: 14px 10px;
    width: 100%;
    height: auto;

    &.top {
      @include border-radius(5px 5px 0 0);
      margin-bottom: 0px;
    }

    &.bottom {
      @include border-radius(0 0 5px 5px);
      border-top: 0;
      margin-bottom: 20px;
    }

    &.middle {
      border-top: 0;
      margin-bottom:0px;
      @include border-radius(0);
    }

    &:active, &:focus {
      background-color: #FFF;
    }
  }

  .login-box a.forgot {
    float: right;
    padding-top: 6px
  }

  .devise-errors {
    h2 {
      font-size: 14px;
      color: #a00;
    }
  }
}
