= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.text_field :login, class: "form-control top", placeholder: "Username or Email", autofocus: "autofocus"
  = f.password_field :password, class: "form-control bottom", placeholder: "Password"
  - if devise_mapping.rememberable?
    .clearfix.append-bottom-10
      %label.checkbox.remember_me{for: "user_remember_me"}
        = f.check_box :remember_me
        %span Remember me
  %div
    = hidden_field_tag 'return_to', params[:return_to]
    = f.submit "Sign in", class: "btn-save btn"

    .pull-right
      = link_to "Forgot your password?", new_password_path(resource_name), class: "btn"
